@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
}

.text-white {
	color: white;
}

.bg-banner-gradient {
	background: linear-gradient(to bottom right,
			rgba(223, 234, 240, 1),
			rgba(213, 228, 234, 1),
			rgba(244, 231, 244, 1));
}

/* Scroll bar */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #E3E4E6;
	;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #072635;
	border-radius: 3px;
}

/* Table */
table th:first-child {
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
}

table th:last-child {
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
}